@model List<MotorInsuranceApp.Models.Policy>

<h2 class="mb-4">Policies</h2>

<button class="btn btn-primary mb-3"
        data-bs-toggle="modal"
        data-bs-target="#addPolicyModal">
    + Add Policy
</button>

<div class="card-box">
    <table class="table">
        <thead>
            <tr>
                <th>Policy No</th>
                <th>Customer</th>
                <th>Car</th>
                <th>Price</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var p in Model)
            {
                <tr>
                    <td>@p.PolicyNumber</td>
                    <td>@p.Customer?.Name</td>
                    <td>@p.Car?.Brand @p.Car?.Model</td>
                    <td>@p.Price</td>
                    <td>@p.Status</td>
                    <td>
                        <a asp-action="DeletePolicy"
                               asp-route-id="@p.Id"
                               class="btn btn-sm btn-outline-danger">
                            Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<!-- Add Modal -->
<div class="modal fade" id="addPolicyModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-2">

            <div class="modal-header border-0">
                <h5 class="modal-title">Add Policy</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <form asp-action="AddPolicy" method="post">

                <div class="modal-body">

                    <input name="PolicyNumber" class="form-control mb-3" placeholder="Policy Number" />

                    <input name="Price" class="form-control mb-3" placeholder="Price" />

                    <select name="Status" class="form-select mb-3">
                        <option value="Active">Active</option>
                        <option value="Pending">Pending</option>
                    </select>

                    <!-- Customer-->
                    <select name="CustomerId" class="form-select mb-3">
                        <option disabled selected>Select Customer</option>
                        @foreach (var c in ViewBag.Customers)
                        {
                            <option value="@c.Id">@c.Name</option>
                        }
                    </select>

                    <!-- Car -->
                    <select name="CarId" class="form-select mb-3">
                        <option disabled selected>Select Car</option>
                        @foreach (var car in ViewBag.Cars)
                        {
                            <option value="@car.Id">@car.Brand @car.Model</option>
                        }
                    </select>

                </div>

                <div class="modal-footer border-0">
                    <button class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>

            </form>

        </div>
    </div>
</div>